body
{
    font-family: 'Handlee', cursive;
    margin: 0%;
    padding: 0%;

}
 
.font-colour
{
color: orange;
}

h1
{
    font-size: 50px;
}
h3
{
    font-size: 30px;
}
.half
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}
.half img
{
    width: 100%;
}
.backround
{
    background-image: url( img/top-banner.png );
    background-repeat: no-repeat;
}
section
{
    height: 500px;
}
.button
{
    text-decoration: none;
    background-color: chocolate;
    padding: 6px 12px;
    margin: 4px 8px;
    border-radius: 5px;

    border: ;
}